 
 /*Index Styles*/
 
 body {
    margin: 0;
    font-family:'Georgia', Times, Times New Roman, serif;
    background-image: url('../images/upfeathers.png');
    background-repeat: repeat;
   
}

/*Navbar style for all three forms*/
nav {
    display: block;
    position: relative;
    margin: 25px;
    background-color: white; }
    
a {
    color: black;
}

.navBar {
    position: relative;
    top: 20px;
    left: 10px;
}

.navBar-name {
    position: absolute;
    color: white;
    background-color: #4aaaa5;
    padding: 15px;
    font-size: 20px;
    left: 10px;
    top: -6px;
    width: 243px;
   
}
.navBar-links {
    position: absolute;
    right:193px;
    top: 47px;
    background-color: white;
    font-size: 26px;
    color: darkgray
    }
        
.main {
    display: block;
    background-color: white;
    float: left;
    position: relative;
    width: 40%;
    top: 17px;
    width: 500px;
    left: 46px;
    margin: 25px;
    height: 700px;

    
}

/*main profile image on index page */

img.prof {
    margin: 0 25px 0 0;
    height: 300px;
    width: 300px;
    position: absolute;
    top:72px;
    left: 50px;
    border-radius: 15px;
}


.banner {
    width: 978px;
    height: 148px;
    position: relative;
    top: 12px;
    left: 47px;
    border-bottom: solid 5px darkgray;

}
 


.about {
    position: absolute;
    top: -8px;
    left: 63px;
    font-size: 18px;
    color: #4aaaa5;
    border-bottom: solid 5px darkgray;
}

.paragraph {
    position: absolute;
    margin: 25px;
    bottom: 15px;
    font-size: 22px;
    color: darkgray;
    
}

/*connect with me box*/

.connect {
        display: block;
        background-color: white;
        float: right;
        position: relative;
        top: 17px;
        width: 300px;
        margin: 25px;
        height: 250px;
        right: 250px;
    
        
    }

.conn {
        color:#4aaaa5;
        font-size: 34px;
        text-align: center;
        padding: 31px;
    }
.connect-links2 {
    position: absolute;
    right: 64px;
    bottom: 35px;
}

 h2 {
    color:#4aaaa5;
    font-size: 27px;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
      
.fa:hover {
    opacity: 0.7;
}
      
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}   

.connect-links {
    position: absolute;
    right : 30px;
}

/*Projects/portfolio page begins here */

.main2 {
    width: 30%;
    height: 1200px;
    padding: 33px;
     margin: auto;
     background-color: white;
    color: #4aaaa5;
    margin: 72px;
    float:left;
}

.about2 {
    
    top: -85px;
    left: -14px;
    font-size: 18px;
    color: #4aaaa5;
    border-bottom:solid 3px darkgray;
}    

/*Project One*/

.project1 {
    width: 200px;
    height:200px;
    position: relative;
    top: 40px;
    margin: auto;

}
.proj {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 0 0 15px 15px;
}
.project1-text {
    width: 200px;
    position: absolute;
    z-index: 1000;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    left:0px;
    bottom: 0px;
    border-radius: 0 0 15px 15px;
}

/*Project2*/

.project2 {
    width: 200px;
    height:200px;
    position: relative;
    top: 60px;
    margin: auto;

}

.project2-text {
    width: 200px;
    position: absolute;
    z-index: 1000;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    left:0px;
    bottom: 0px;
    border-radius: 0 0 15px 15px;
}

/*Project 3*/

.project3 {
    width: 200px;
    height:200px;
    position: relative;
    top: 80px;
    margin: auto;

}

.project3-text {
    width: 200px;
    position: absolute;
    z-index: 1000;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    left:0px;
    bottom: 0px;
    border-radius: 0 0 15px 15px;
}

/*Project 4*/

.project4 {
    width: 200px;
    height:200px;
    position: relative;
    top: 100px;
    margin: auto;

}

.project4-text {
    width: 200px;
    position: absolute;
    z-index: 1000;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    left:0px;
    bottom: 0px;
    border-radius: 0 0 15px 15px;
}

/* Project 5*/

.project5 {
    width: 200px;
    height:200px;
    position: relative;
    top: 120px;
    margin: auto;

}

.project5-text {
    width: 200px;
    position: absolute;
    z-index: 1000;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    left:0px;
    bottom: 0px;
    border-radius: 0 0 15px 15px;
}

/*Portfolio/Project page Connect with me box*/

.connect2 {
    display: block;
    background-color: white;
    float: right;
    position: relative;
    top: 45px;
    width: 328px;
    margin: 25px;
    height: 250px;
    right: 200px;

    
}

/*Contact Form Styles Begin here*/

.formcontainer{
    width: 977px;
    display: block;
    background-color: white;
    margin: 25px;
    left: 47px;
    position: relative;
}

/*name*/

.name-entry {
    position: relative;
    font-size: 30px;
    left: 23px;
    top: 30px;
}

#name {
    width: 75%;
    height: 39px;
    font-size: 20px;
}
/*Email*/

.email-entry {
    position: relative;
    margin: 50px;
    font-size: 30px;
    left: -30px;
}

#email {
    width: 84%;
    height: 39px;
    font-size: 20px;
}
/*Message me*/

.message-text {
    position: relative;
    font-size: 30px;
    left: 16px;
    bottom: 38px;
}

#text {
    width: 72%;
    height: 99px;
    font-size: 20px;
}

/*Submit Button*/

#button {
    background-color: #4aaaa5;
    padding: 15px 70px;
    font-size: 25px;
    margin-left: -30px;
    margin-bottom: 27px;
}


.submit-button{
    position: relative;
    left: 135px;
}  

/*Connect Box for Contact form*/

.connect3 {
        display: block;
        background-color: white;
        position: relative;
        top: 45px;
        width: 328px;
        margin: 25px;
        height: 250px;
        right: 200px; 
        left: 47px;
        padding: 10px;       
}
.connect-links3 {
    margin: 43px;
}

/*media Queries begin here*/

 @media screen and (max-width: 980px) {
    .formcontainer {
        width: 500px;
        float: left;
        
    }
    #email {
        width: 300px;
    }
    #name {
        width: 300px;
    }
    .connect3 {
        width: 200px;
        float: left;
        height: 500px;
        height: 381px;
    top: 0px;
    }
    .message-text {
        left: 5px;
    }
    .submit-button {
        left: 35px;
    }
    }
  

@media screen and (max-width: 980px) {

    .connect {float: left;
            margin-left: 322px;
        } 

    .connect2 {
       float: left;
       margin-left: 322px;
       top: -70px;
       right:250px;
    }
    .connect-links2 {
        width: 100%;
        right:-16px;
    }

    .main2 {
        width: 75%;
        height: 800px;
    }

    .second-col{
        float:right;
        position: relative;
        bottom: 60px;
        right: 150px;
}
    .first-col{
        float:left;
    }
}

    

@media screen and (max-width: 640px) {
    
    .navBar-links {
        width: 97%;
        float: left;
        left: 2px;
        top: 93px;
    }

    .main {
        width: 381px;
        left: 0px;
    }
    p {
        margin: 0px;
        padding: 8px;
    }
    .banner {
        width: 85%;
        left: 0px;
    }

    .main2 {
        height: 1200px;
        width: 80%;
        margin: 25px;
    }

    .second-col{
        float:none;
       margin: 52px;
       left:1px;
    }
    .first-col{
        float:none;
    }
    .connect2 {
        width:328px;
        margin-top:66px;

    }
    .connect-links2 {
        left: 70px;
    }

    .formcontainer {
        left: -10px;

    }
}